extends scroll_nav
block content
  head
    link(href="/stylesheets/style_dashboard.css" rel="stylesheet")
  body(style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;")
    .app-body
      .sidebar
        nav.sidebar-nav
          ul.nav(style="padding-top: 6px;")
            li.nav-item
              a.nav-link(href=`/asset_info/${asset_status[0].code}` style="font-size : 15px; font-weight: bold; margin-left : 20px; text-align: left;")=asset_status[0].name
            li.nav-title
              | 관심 자산 리스트
            -for (let i = 0; i < 15 && i < asset_list.length; i ++)
              li.nav-item(style="margin-left : 35px; text-align: left;")
                a.nav-link(href=`/asset_info/${asset_list[i].code}` style="font-size : 13px;")=asset_list[i].name
      // Main content
      main.main
        p
        p
        .container-fluid
          .animated.fadeIn
            .row
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_1
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 현재 가격
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart1.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_2
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].count.toLocaleString('ko-KR') + "개"
                    p(style="font-size:13px") 보유 수량
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart2.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_3
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].average_bought_price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 평균 구매가
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart3.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_4
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].actural_earn + `${asset_status[0].unit}`
                    p(style="font-size:13px") 총 실현 손익
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart4.chart(height='70')
              // /.col
            // /.row
            .card
              .card-body
                .row
                  .col-sm-5
                    h4.card-title.mb-0 가격 추이
                    .small.text-muted(style="margin-top:5px")="단위 : " + asset_status[0].unit
                  // /.col
                  .col-sm-7.hidden-sm-down
                    button.btn.btn-primary.float-right(type='button')
                      i.icon-cloud-download
                    .btn-toolbar.float-right(role='toolbar' aria-label='Toolbar with button groups')
                      .btn-group.mr-3(data-toggle='buttons' aria-label='First group')
                        label.btn.btn-outline-secondary
                          input#option1(type='radio' name='options')
                          |  Day
                        label.btn.btn-outline-secondary.active
                          input#option2(type='radio' name='options' checked='')
                          |  Month
                        label.btn.btn-outline-secondary
                          input#option3(type='radio' name='options')
                          |  Year
                  // /.col
                // /.row
                .chart-wrapper(style='height:300px;margin-top:40px;')
                  canvas#main-chart.chart(height='300')
                  
            .row
              .col-md-12
                .card
                  .card-body
                    .col-sm-5
                    h4.card-title.mb-0 거래 내역
                    br
                    table.table.table-responsive.table-hover.table-outline.mb-0
                      thead.thead-default
                        tr
                          th.text-center ㅁ
                          th User
                          th.text-center Country
                          th Usage
                          th.text-center Payment Method
                          th Activity
                          th asdf
                      tbody
                        tr
                          td.text-center ㅁ
                          td
                            div Yiorgos Avraamu
                            .small.text-muted
                              span New
                              |  | Registered: Jan 1, 2015
                          td.text-center
                          td
                            .clearfix
                              .float-left
                                strong 50%
                              .float-right
                                small.text-muted Jun 11, 2015 - Jul 10, 2015
                            .progress.progress-xs
                              .progress-bar.bg-success(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                          td.text-center
                            i.fa.fa-cc-mastercard(style='font-size:24px')
                          td
                            .small.text-muted Last login
                            strong 10 sec ago
                          td asdf
        
      <!-- Plugins and scripts required by all views -->
      script(src="/javascripts/chart.js/dist/Chart.min.js")
      
      <!-- GenesisUI main scripts -->
      script(src="/javascripts/info_app.js")

      <!-- Custom scripts required by this view -->
      script(src="/javascripts/info_page.js")


