extends scroll_nav
block content
  head
    link(href="/stylesheets/style_dashboard.css" rel="stylesheet")
  body(style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;")
    .app-body
      .sidebar
        nav.sidebar-nav
          ul.nav(style="padding-top: 6px;")
            li.nav-item
              a.nav-link(href=`/asset_info/${asset_status[0].code}` style="font-size : 15px; font-weight: bold; margin-left : 20px; text-align: left;")=asset_status[0].name
            li.nav-title
              | 관심 자산 리스트
            -for (let i = 0; i < 15 && i < asset_list.length; i ++)
              li.nav-item(style="margin-left : 35px; text-align: left;")
                a.nav-link(href=`/asset_info/${asset_list[i].code}` style="font-size : 13px;")=asset_list[i].name
      // Main content
      div(class="modal fade" id=`insert_data` tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
        .modal-dialog(role='document' style="top:100px;")
          .modal-content
            .modal-header(style="padding: 10px; padding-left: 25px; color:black;")
              h4(style="font-weight: bold; padding-top: 20px;")=asset_status[0].name + ' 데이터 추가'
            form(action='/asset/update_data', method='post')
              .modal-body(style="padding-left: 30px; padding-right: 30px;")
                input(type='hidden' name="code" value=`${asset_status[0].code}`)
                input(type='hidden' name="name" value=`${asset_status[0].name}`)
                input(type='hidden' name="before_count" value=`${asset_status[0].count}`)
                input(type='hidden' name="before_price" value=`${asset_status[0].price}`)
                input(type='hidden' name="average_bought_price" value=`${asset_status[0].average_bought_price}`)
                input(type='hidden' name="actural_earn" value=`${asset_status[0].actural_earn}`)
                .form-group
                  div.textbox_input.no-drag
                    label(for='type' style="font-weight: bold;") 구분 : 
                    div(style="padding-left: 48px; font-size : 13px; border-bottom: 1px solid #999;")
                      select.select_test(name="type")
                        span
                          option(value='1' style="font-size : 13px;") 구매
                          option(value='-1' style="font-size : 13px;") 판매
                .form-group
                  div.textbox_input
                    label(for='price' style="font-weight: bold;") 가격 : 
                    input.input_test(type='number' name="price" autocomplete="off" placeholder=`${asset_status[0].price.toLocaleString('ko-KR')}${asset_status[0].unit}` style="padding-left: 55px;" min="0" required)
                .form-group
                  div.textbox_input
                    label(for='count' style="font-weight: bold;") 수량 : 
                    input.input_test(type='number' name="count" autocomplete="off" placeholder=`${asset_status[0].count}개` style="padding-left: 55px;" min="0")
                button(type="submit" class="btn btn-primary float-end" style="font-size : 13px; margin-top : 5px; margin-bottom : 8px; font-weight:600; padding-left: 16px;padding-right: 16px;") 제출     
      main.main
        p
        p
        .container-fluid
          .animated.fadeIn
            .row
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_1
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 현재 가격
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart1.chart(height='70')
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_2
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].count.toLocaleString('ko-KR') + "개"
                    p(style="font-size:13px") 보유 수량
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart2.chart(height='70')
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_3
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].average_bought_price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 평균 구매가
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart3.chart(height='70')
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_4
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].actural_earn.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 총 실현 손익
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart4.chart(height='70')
            .row
              .col-md-12
                .card
                  .card-body
                    .col-sm-5
                    h4.card-title.mb-0(style="position:absolute") 기록 내역
                    div(class="fresh-table toolbar-color-azure")
                      div(class="toolbar")
                      table(id="fresh-table" class="table")
                        thead
                          tr
                            th(data-width="70px")
                              i(type='button' data-toggle="modal" data-target="#insert_data" class="bi bi-plus" style="position:relative; left:7px; font-size : 15px; cursor: pointer;")
                            th 구분
                            th 가격
                            th 증감량
                            th 증감률
                            th 거래량
                            th 보유 잔고
                            th 평균 구매가
                            th 평가 손익
                            th 총 실현 손익
                            th(data-sortable="true") 시간
                        tbody(style="font-size : 13px;")
                          -for (let i = 0; i < asset_recode.length; i++)
                            tr
                              th 
                                -if(i == 0)
                                  form(action='/asset/delete_data', method='post')
                                    input(type='hidden' name="code" value=`${asset_recode[0].code}`)
                                    input(type='hidden' name="count" value=`${asset_recode[0].count}`)
                                    -if(asset_recode[2])
                                      input(type='hidden' name="before_price" value=`${asset_recode[2].price}`)
                                      input(type='hidden' name="actural_earn" value=`${asset_recode[1].actural_earn}`)
                                      input(type='hidden' name="old_price" value=`${asset_recode[1].price}`)
                                      input(type='hidden' name="status_price" value=`${asset_recode[1].status_price}`)
                                      input(type='hidden' name="status_count" value=`${asset_recode[1].status_count}`)
                                    -else if(asset_recode[1])
                                      input(type='hidden' name="before_price" value=`${asset_recode[1].price}`)
                                      input(type='hidden' name="actural_earn" value=`${asset_recode[1].actural_earn}`)
                                      input(type='hidden' name="old_price" value=`${asset_recode[1].price}`)
                                      input(type='hidden' name="status_price" value=`${asset_recode[1].status_price}`)
                                      input(type='hidden' name="status_count" value=`${asset_recode[1].status_count}`)
                                    -else
                                      input(type='hidden' name="delete_all" value=1)
                                    input(type='hidden' name="no" value=`${asset_recode[0].no}`)
                                    button(type='submit' class="bi bi-dash" style="position:relative; left:10px; font-size : 13px; cursor: pointer;")
                              -if(asset_recode[i].status_count > 0)
                                td 구매
                              -else if(asset_recode[i].status_count == 0)
                                td 갱신
                              -else
                                td 판매
                              -if(asset_recode[i].status_price == 1)
                                td(style="color:red")
                                  i.bi.bi-caret-up-fill
                                  span=' ' + asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].status_price == 0)
                                td
                                  span=asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else
                                td(style="color:blue")
                                  i.bi.bi-caret-down-fill
                                  spen=' ' + asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(i == asset_recode.length - 1)
                                td -
                              -else
                                -if(asset_recode[i].status_price == 1)
                                  td(style="color:red")
                                    i.bi.bi-caret-up-fill
                                    span=' ' + (asset_recode[i].price - asset_recode[i+1].price).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                                -else if (asset_recode[i].status_price == 0)
                                  td -
                                -else
                                  td(style="color:blue")
                                    i.bi.bi-caret-down-fill
                                    span=' ' + (-asset_recode[i].price + asset_recode[i+1].price).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(i == asset_recode.length - 1)
                                td -
                              -else
                                -if(asset_recode[i].status_price == 1)
                                  td(style="color:red")='+' + ((asset_recode[i].price - asset_recode[i+1].price) * 100 / asset_recode[i+1].price).toFixed(2) + "%"
                                -else if (asset_recode[i].status_price == 0)
                                  td -
                                -else
                                  td(style="color:blue")='-' + ((-asset_recode[i].price + asset_recode[i+1].price) * 100 / asset_recode[i+1].price).toFixed(2) + "%"
                              -if(asset_recode[i].status_count == 0)
                                td -
                              -else
                                td=Math.abs(asset_recode[i].count) + "개"
                              -if(asset_recode[i].status_count == 1)
                                td(style="color:red")
                                  i.bi.bi-caret-up-fill
                                  span=' ' + asset_recode[i].after_count + "개"
                              -else if(asset_recode[i].status_count == 0)
                                td=asset_recode[i].after_count + "개"
                              -else
                                td(style="color:blue")
                                  i.bi.bi-caret-down-fill
                                  span=' ' + asset_recode[i].after_count + "개"
                              td=asset_recode[i].average_bought_price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(asset_recode[i].price > asset_recode[i].average_bought_price)
                                td(style="color:red")=((asset_recode[i].price - asset_recode[i].average_bought_price) * asset_recode[i].after_count).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].price == asset_recode[i].average_bought_price)
                                td -
                              -else
                                td(style="color:blue")=((asset_recode[i].price - asset_recode[i].average_bought_price) * asset_recode[i].after_count).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(asset_recode[i].actural_earn > 0)
                                td(style="color:red")=asset_recode[i].actural_earn.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].actural_earn == 0)
                                td -
                              -else
                                td(style="color:blue")=asset_recode[i].actural_earn.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              td=asset_recode[i].time
            .card
              .card-body
                .row
                  .col-sm-5
                    h4.card-title.mb-0 가격 추이
                    .small.text-muted(style="margin-top:5px")="단위 : " + asset_status[0].unit
                .chart-wrapper(style='height:300px;margin-top:40px;')
                  canvas#main-chart.chart(height='300')
      
      <!-- Plugins and scripts required by all views -->
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js")
      
      <!-- GenesisUI main scripts -->
      script(src="/javascripts/info_app.js")

      <!-- info_page.js 내부의 Chart.js 모듈에서 사용할 데이터 -->
      script.
        let asset_recode = !{JSON.stringify(asset_recode)};

      <!-- Custom scripts required by this view. Chart도 여기서 생성 -->
      script(src="/javascripts/info_page.js")

      script.
        var $table = $('#fresh-table')
        $(function () {
          $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',
            search: true,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: true,
            sortable: true,
            pageSize: 10,

            formatNoMatches : function(undefined) {
              return '검색결과가 존재하지 않습니다'
            },

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
              return ''
            },
            formatRecordsPerPage: function (pageNumber) {
              return pageNumber
            }
          })
        })
