extends scroll_nav
block content
  head
    link(href="/stylesheets/style_dashboard.css" rel="stylesheet")
  body(style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;")
    .app-body
      .sidebar
        nav.sidebar-nav
          ul.nav(style="padding-top: 6px;")
            li.nav-item
              a.nav-link(href=`/asset_info/${asset_status[0].code}` style="font-size : 15px; font-weight: bold; margin-left : 20px; text-align: left;")=asset_status[0].name
            li.nav-title
              | 관심 자산 리스트
            -for (let i = 0; i < 15 && i < asset_list.length; i ++)
              li.nav-item(style="margin-left : 35px; text-align: left;")
                a.nav-link(href=`/asset_info/${asset_list[i].code}` style="font-size : 13px;")=asset_list[i].name
      // Main content
      main.main
        p
        p
        .container-fluid
          .animated.fadeIn
            .row
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_1
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 현재 가격
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart1.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_2
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].count.toLocaleString('ko-KR') + "개"
                    p(style="font-size:13px") 보유 수량
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart2.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_3
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].average_bought_price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                    p(style="font-size:13px") 평균 구매가
                  .chart-wrapper(style='height:70px;')
                    canvas#card-chart3.chart(height='70')
              // /.col
              .col-sm-6.col-lg-3
                .card.text-white.my_color_css_4
                  .card-body.pb-0
                    h4.mb-0=asset_status[0].actural_earn + `${asset_status[0].unit}`
                    p(style="font-size:13px") 총 실현 손익
                  .chart-wrapper.px-3(style='height:70px;')
                    canvas#card-chart4.chart(height='70')
              // /.col
            // /.row
            .card
              .card-body
                .row
                  .col-sm-5
                    h4.card-title.mb-0 가격 추이
                    .small.text-muted(style="margin-top:5px")="단위 : " + asset_status[0].unit
                  // /.col
                  .col-sm-7.hidden-sm-down
                    button.btn.btn-primary.float-right(type='button')
                      i.icon-cloud-download
                    .btn-toolbar.float-right(role='toolbar' aria-label='Toolbar with button groups')
                      .btn-group.mr-3(data-toggle='buttons' aria-label='First group')
                        label.btn.btn-outline-secondary
                          input#option1(type='radio' name='options')
                          |  Day
                        label.btn.btn-outline-secondary.active
                          input#option2(type='radio' name='options' checked='')
                          |  Month
                        label.btn.btn-outline-secondary
                          input#option3(type='radio' name='options')
                          |  Year
                  // /.col
                // /.row
                .chart-wrapper(style='height:300px;margin-top:40px;')
                  canvas#main-chart.chart(height='300')
                  
            .row
              .col-md-12
                .card
                  .card-body
                    .col-sm-5
                    h4.card-title.mb-0(style="position:absolute") 거래 내역
                    div(class="fresh-table toolbar-color-azure")
                      div(class="toolbar")
                      table(id="fresh-table" class="table")
                        thead
                          tr
                            th(data-width="70px")
                              i(type='button' class="bi bi-dash" style="position:relative; left:7px; font-size : 13px; cursor: pointer;")
                            th 구분
                            th 가격
                            th 증감량
                            th 증감률
                            th 거래량
                            th 보유 잔고
                            th 평균 구매가
                            th 평가 손익
                            th 총 실현 손익
                            th(data-sortable="true") 시간
                        tbody(style="font-size : 13px;")
                          -for (let i = 0; i < asset_recode.length; i++)
                            tr
                              th 
                                i(type='button' class="bi bi-dash" style="position:relative; left:10px; font-size : 13px; cursor: pointer;")
                              -if(asset_recode[i].status_count > 0)
                                td 구매
                              -else if(asset_recode[i].status_count == 0)
                                td 갱신
                              -else
                                td 판매
                              -if(asset_recode[i].status_price == 1)
                                td(style="color:red")
                                  i.bi.bi-caret-up-fill
                                  span=' ' + asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].status_price == 0)
                                td
                                  span=asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else
                                td(style="color:blue")
                                  i.bi.bi-caret-down-fill
                                  spen=' ' + asset_recode[i].price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(i == asset_recode.length - 1)
                                td -
                              -else
                                -if(asset_recode[i].status_price == 1)
                                  td(style="color:red")
                                    i.bi.bi-caret-up-fill
                                    span=' ' + (asset_recode[i].price - asset_recode[i+1].price).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                                -else if (asset_recode[i].status_price == 0)
                                  td -
                                -else
                                  td(style="color:blue")
                                    i.bi.bi-caret-down-fill
                                    span=' ' + (-asset_recode[i].price + asset_recode[i+1].price).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(i == asset_recode.length - 1)
                                td -
                              -else
                                -if(asset_recode[i].status_price == 1)
                                  td(style="color:red")='+' + ((asset_recode[i].price - asset_recode[i+1].price) * 100 / asset_recode[i+1].price).toFixed(2) + "%"
                                -else if (asset_recode[i].status_price == 0)
                                  td -
                                -else
                                  td(style="color:blue")='-' + ((-asset_recode[i].price + asset_recode[i+1].price) * 100 / asset_recode[i+1].price).toFixed(2) + "%"
                              -if(asset_recode[i].status_count == 0)
                                td -
                              -else
                                td=asset_recode[i].count + "개"
                              -if(asset_recode[i].status_count == 1)
                                td(style="color:red")
                                  i.bi.bi-caret-up-fill
                                  span=' ' + asset_recode[i].after_count + "개"
                              -else if(asset_recode[i].status_count == 0)
                                td=asset_recode[i].after_count + "개"
                              -else
                                td(style="color:blue")
                                  i.bi.bi-caret-down-fill
                                  span=' ' + asset_recode[i].after_count + "개"
                              td=asset_recode[i].average_bought_price.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(asset_recode[i].price > asset_recode[i].average_bought_price)
                                td(style="color:red")=((asset_recode[i].price - asset_recode[i].average_bought_price) * asset_recode[i].after_count).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].price == asset_recode[i].average_bought_price)
                                td -
                              -else
                                td(style="color:blue")=((asset_recode[i].price - asset_recode[i].average_bought_price) * asset_recode[i].after_count).toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -if(asset_recode[i].actural_earn > 0)
                                td(style="color:red")=asset_recode[i].actural_earn.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              -else if(asset_recode[i].actural_earn == 0)
                                td -
                              -else
                                td(style="color:blue")=asset_recode[i].actural_earn.toLocaleString('ko-KR') + `${asset_status[0].unit}`
                              td=asset_recode[i].time

      <!-- Plugins and scripts required by all views -->
      script(src="/javascripts/chart.js/dist/Chart.min.js")
      
      <!-- GenesisUI main scripts -->
      script(src="/javascripts/info_app.js")

      <!-- Custom scripts required by this view -->
      script(src="/javascripts/info_page.js")

      script.
        var $table = $('#fresh-table')
        $(function () {
          $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',
            search: true,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: true,
            sortable: true,
            pageSize: 10,

            formatNoMatches : function(undefined) {
              return '검색결과가 존재하지 않습니다'
            },

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
              return ''
            },
            formatRecordsPerPage: function (pageNumber) {
              return pageNumber
            }
          })
        })
