extends scroll_nav
block content
  head
  body 
    div.body_middle
      h4(style="position: absolute; top:54px; margin-left:10px; font-weight: bold;") 관심 자산
      div(class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
        .modal-dialog(role='document' style="top:100px;")
          .modal-content
            .modal-header(style="padding: 10px; padding-left: 25px;")
              h4(style="font-weight: bold;") 새로운 관심자산
            form(action='/int_asset/create_data', method='post')
              .modal-body(style="padding-left: 30px; padding-right: 30px;")
                .form-group
                  div.textbox_input
                    label(for='name' style="font-weight: bold;") 자산 이름 : 
                    input.input_test(type='text' name="name" autocomplete="off" placeholder="Name" style="padding-left: 78px;" required)
                .form-group
                  div.textbox_input
                    label(for='unit' style="font-weight: bold;") 가격 단위 : 
                    input.input_test(type='text' name="unit" autocomplete="off" placeholder="원, 달러" style="padding-left: 78px;" required)
                .form-group
                  div.textbox_input
                    label(for='price' style="font-weight: bold;") 현재 가격 : 
                    input.input_test(type='number' name="price" autocomplete="off" placeholder="Price" style="padding-left: 78px;" min="0" required)
                button(type="submit" class="btn btn-primary float-end" style="border-radius: 20px; font-size : 13px; margin-top : 5px; margin-bottom : 8px") 제출
      div(class="fresh-table toolbar-color-azure")
        div(class="toolbar")
        table(id="fresh-table" class="table")
          thead
            tr
              th(data-width="70px")
                i(type='button' data-toggle="modal" data-target="#exampleModalLong" class="bi bi-plus" style="position:relative; left:7px; font-size : 15px; cursor: pointer;")
              th(data-sortable="true") 종목명 
              th 최근 가격
              th 증감량
              th 등락률
              th(data-sortable="true") 갱신 시간
              th(data-sortable="true") 보유량
          tbody(style="font-size : 13px;")
            -for (let i = 0; i < table_int_data.length; i++)
              div(class="modal fade" id=`insert_data_${i}` tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
                .modal-dialog(role='document' style="top:100px;")
                  .modal-content
                    .modal-header(style="padding: 10px; padding-left: 25px; color:black;")
                      h4(style="font-weight: bold;")=table_int_data[i].name + ' 가격 갱신'
                    form(action='/int_asset/update_data', method='post')
                      .modal-body(style="padding-left: 30px; padding-right: 30px;")
                        input(type='hidden' name="code" value=`${table_int_data[i].code}`)
                        input(type='hidden' name="name" value=`${table_int_data[i].name}`)
                        input(type='hidden' name="before_count" value=`${table_int_data[i].count}`)
                        input(type='hidden' name="before_price" value=`${table_int_data[i].price}`)
                        .form-group
                          div.textbox_input
                            label(for='price' style="font-weight: bold;") 가격 : 
                            input.input_test(type='number' name="price" autocomplete="off" placeholder=`${table_int_data[i].price.toLocaleString('ko-KR')}${table_int_data[i].unit}` style="padding-left: 55px;" min="0" required)
                        button(type="submit" class="btn btn-primary float-end" style="font-size : 13px; margin-top : 5px; margin-bottom : 8px") 제출     
              tr
                th 
                  i(type='button' data-toggle="modal" data-target=`#insert_data_${i}` class="bi bi-plus" style="position:relative; left:10px; font-size : 15px; cursor: pointer;")
                td
                  a(href="#", style="color:black")=table_int_data[i].name
                -if(table_int_data[i].status_price == 1)
                  td(style="color:red;")
                    i.bi.bi-caret-up-fill
                    span=" " + table_int_data[i].price.toLocaleString('ko-KR') + table_int_data[i].unit
                -else if(table_int_data[i].status_price == 0)
                  td=" " + table_int_data[i].price.toLocaleString('ko-KR') + table_int_data[i].unit
                -else
                  td(style="color:blue;")
                    i.bi.bi-caret-down-fill
                    span=" " + table_int_data[i].price.toLocaleString('ko-KR') + table_int_data[i].unit
                -if(table_int_data[i].price > table_int_data[i].before_price)
                  td(style="color:red;")
                    i.bi.bi-caret-up-fill
                    span=" " + (table_int_data[i].price - table_int_data[i].before_price).toLocaleString('ko-KR') + table_int_data[i].unit
                -else if (table_int_data[i].price == table_int_data[i].before_price)
                  td -
                -else 
                  td(style="color:blue;")
                    i.bi.bi-caret-down-fill
                    span=" " + (table_int_data[i].price - table_int_data[i].before_price).toLocaleString('ko-KR')  + table_int_data[i].unit
                -if(table_int_data[i].price > table_int_data[i].before_price)
                  td(style="color:red;")
                    span="+" + ((table_int_data[i].price - table_int_data[i].before_price)*100/table_int_data[i].before_price).toFixed(2) + "%"
                -else if (table_int_data[i].price == table_int_data[i].before_price)
                  td -
                -else 
                  td(style="color:blue;")
                    span=((table_int_data[i].price - table_int_data[i].before_price)*100/table_int_data[i].before_price).toFixed(2) + "%"
                td=table_int_data[i].time
                -if(table_int_data[i].count == 0)
                  td -
                -else
                  td=table_int_data[i].count + "개"
                
      script.
        var $table = $('#fresh-table')
        $(function () {
          $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',
            search: true,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: true,
            sortable: true,
            pageSize: 10,

            formatNoMatches : function(undefined) {
              return '검색결과가 존재하지 않습니다'
            },

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
              return ''
            },
            formatRecordsPerPage: function (pageNumber) {
              return pageNumber
            }
          })
        })