extends scroll_nav
block content
  head
  body
    h4(style="position: absolute; top:54px; margin-left:10px; font-weight: bold;") 보유 자산
    div(class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
      .modal-dialog(role='document' style="top:100px;")
        .modal-content
          .modal-header
              h4 새 종목 추가
          form(action='/asset/create_data', method='post')
              .modal-body
                .form-group.row
                  label.col-sm-2.col-form-label(for='input_name') 종목명
                  .col-sm-10
                      input#input_name.form-control(type='text' name="name" autocomplete="off" placeholder="Asset name" )
                .form-group.row
                  label.col-sm-2.col-form-label 단위
                  .col-sm-10
                      input.form-control(type='text' name="unit" autocomplete="off" placeholder="Unit")
                .form-group.row
                  label.col-sm-2.col-form-label 현가
                  .col-sm-10
                      input.form-control(type='text' name="price" autocomplete="off" placeholder="Insert current price")
                .form-group.row
                  label.col-sm-2.col-form-label 개수
                  .col-sm-10
                      input.form-control(type='text' name="count" autocomplete="off" placeholder="Bought number")
              .modal-footer
                  button(type="submit" class="btn btn-primary float-end" style="font-size : 13px; font-family: Poppins;") Submit
    div(class="fresh-table toolbar-color-azure")
      div(class="toolbar")
      table(id="fresh-table" class="table")
        thead
          tr
            th
              i(type='button' data-toggle="modal" data-target="#exampleModalLong" class="bi bi-plus" style="position:relative; left:7px; font-size : 15px; cursor: pointer;")
            th(data-sortable="true") 종목명 
            th 최근 가격
            th(data-sortable="true") 보유량
            th 총 평가액
            th 평가 손익
        tbody(style="font-size : 13px;")
          -for (let i = 0; i < table_data.length; i++)
            div(class="modal fade" id=`insert_data_${i}` tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
              .modal-dialog(role='document' style="top:100px;")
                .modal-content
                  .modal-header
                    h4=table_data[i].name + ' 데이터 추가'
                  form(action='/asset/update_data', method='post')
                    .modal-body
                      input(type='hidden' name="code" value=`${table_data[i].code}`)
                      input(type='hidden' name="name" value=`${table_data[i].name}`)
                      input(type='hidden' name="before_count" value=`${table_data[i].count}`)
                      .form-group.row
                        .col-sm-10 종류
                          input.form-control(type='text' name="type" autocomplete="off" placeholder='구매, 판매, 갱신')
                      .form-group.row
                        label.col-sm-2.col-form-label 가격
                        .col-sm-10
                          input.form-control(type='text' name="price" autocomplete="off" placeholder=`${table_data[i].price.toLocaleString('ko-KR')}`)
                      .form-group.row
                        label.col-sm-2.col-form-label 개수
                        .col-sm-10
                          input.form-control(type='text' name="count" autocomplete="off" placeholder=`${table_data[i].count}개`)
                    .modal-footer
                        button(type="submit" class="btn btn-primary float-end" style="font-size : 13px; font-family: Poppins;") Submit          
            tr
              th 
                i(type='button' data-toggle="modal" data-target=`#insert_data_${i}` class="bi bi-plus" style="position:relative; left:10px; font-size : 15px; cursor: pointer;")
              td=table_data[i].name
              td=table_data[i].price.toLocaleString('ko-KR') + table_data[i].unit
              td=table_data[i].count
              td=(table_data[i].count * table_data[i].price).toLocaleString('ko-KR') + table_data[i].unit
              td=((table_data[i].price - table_data[i].average_bought_price) * (table_data[i].count)).toLocaleString('ko-KR') + table_data[i].unit                 
      script.
        var $table = $('#fresh-table')
        $(function () {
          $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',
            search: true,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 10,

            formatNoMatches : function(undefined) {
              return '검색결과가 존재하지 않습니다'
            },

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
              return ''
            },
            formatRecordsPerPage: function (pageNumber) {
              return pageNumber
            }
          })
        })