extends scroll_nav
block content
    link(rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/animate/animate.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/select2/select2.min.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/perfect-scrollbar/perfect-scrollbar.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/list_main.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/list_util.css")

    body
        div(class="table100 ver5 m-b-110")
            div(class="table100-head")
                table
                    thead
                        tr(class="row100 head" style="font-weight: bold")
                            th(class="cell100 column1") 종목명 
                            th(class="cell100 column2") 최근 가격
                            th(class="cell100 column3") 보유량
                            th(class="cell100 column4") 총 평가액
                            th(class="cell100 column5") 평가 손익
            div(class="table100-body js-pscroll")
                table
                    tbody
                        -for (let i = 0; i < table_data.length; i++)
                            tr(class="row100 body")
                                td(class="cell100 column1")=table_data[i].name
                                td(class="cell100 column2")=table_data[i].price + table_data[i].unit
                                td(class="cell100 column3")=table_data[i].count
                                td(class="cell100 column4")=table_data[i].count * table_data[i].price + table_data[i].unit
                                td(class="cell100 column5")=(table_data[i].price - table_data[i].average_bought_price) * (table_data[i].count) + table_data[i].unit

            form(action='/asset/update_data', method='post' style='border-style: solid;')
                h3 업데이트 테스트
                div(class="") 종목 이름
                    input(type="text" name="name" placeholder="삼성전자")
                div(class="")
                    label 가격
                    input(type="text", name="price", placeholder="Price insert", required)
                div(class="")
                    label 개수
                    input(type="text", name="count", placeholder="insert count", required)
                span(class="input-group-btn")
                    button(class="btn btn-default", type="submit") Post
            
            form(action='/asset/create_data', method='post' style='border-style: solid;')
                h3 생성 테스트
                div(class="") 종목 이름
                    input(type="text" name="name" placeholder="종목 이름", required)
                div(class="") 단위
                    input(type="text" name="unit" placeholder="단위", required)
                div(class="") 가격
                    input(type="text", name="price", placeholder="Price insert", required)
                div(class="") 개수
                    input(type="text", name="count", placeholder="insert count", required)
                span(class="input-group-btn")
                    button(class="btn btn-default", type="submit") Post


        script(src="/javascripts/select2/select2.min.js")

        script(src="/javascripts/perfect-scrollbar/perfect-scrollbar.min.js")
        script.
            $('.js-pscroll').each(function(){
                var ps = new PerfectScrollbar(this);

                $(window).on('resize', function(){
                    ps.update();
                })
            });

        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');

        script(src="/javascripts/list_page.js")
        script(defer='' src='https://static.cloudflareinsights.com/beacon.min.js')
